head, body, html {
  height: 100%;
  background: rgb(126,233,108);
  background: linear-gradient(141deg, rgba(126,233,108,1) 0%, rgba(84,237,206,0.8146551724137931) 86%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 250%;
  text-align: center;
}
h3 {
  color: #2F4F4F;
  font-family: "Times New Roman", Times, serif;
  font-size: 190%;
}
h4 {
  color: #2F4F4F;
  font-family: "Times New Roman", Times, serif;
  font-size: 150%;
}
h5 {
  color: #2E8B57;
  font-family: "Times New Roman", Times, serif;
  font-size: 125%;
}
p {
  color: #006400;
  font-family: "Times New Roman", Times, serif;
  font-size: 110%;
}
.button {
  background-color: #228B22; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;  
  align-items: center;  
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.navbar {
  text-align: center;
  justify-content: center;  
  align-items: center;  
  text-decoration: none;
  display: inline-block;
}
